@{
    ViewBag.Title = "About";
    string blablaVariable = "Bla bla bla";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>@ViewBag.MyMessage1</p>
<p>@ViewBag.MyMessage2</p>
<p>@ViewBag.MyMessage3</p>
<p>Use this area to provide additional information.</p>
<p>@blablaVariable</p>
